.hero_signup {
    background: url(../../../../public/images/hero_login_image.webp) no-repeat;
    background-position: calc(50% + 60px) calc(50% + 70px);
    background-size: 120%;
    position: relative;

    @media screen and (min-width: 375px) and (max-width: 1023px) {
        background-position: calc(50% + 100px) 50%;
    }

    @media screen and (min-width: 1024px) {
        background-position: calc(50% + 130px) calc(50% + 30px);
    }

    @media screen and (min-width: 1280px) {
        background-position: calc(50% + 60px) calc(50% + 70px);
    }
}

.hero_signup::before {
    position: absolute;
    content: '';
    inset: 0;
    background-image: linear-gradient(to right, #0058dd 0%, transparent 100%);
}

.hero_signup::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: linear-gradient(to right, #003585 0%, transparent 100%);
}

.hero_signup_overlap {
    position: absolute;
    inset: 0;
    background: url(../../../../public/images/hero_login_man_smiling_full.webp) no-repeat;
    background-position: calc(50% + 60px) calc(50% + 70px);
    background-size: 120%;

    @media screen and (min-width: 375px) and (max-width: 1023px) {
        background-position: calc(50% + 100px) 50%;
    }

    @media screen and (min-width: 1024px) {
        background-position: calc(50% + 130px) calc(50% + 30px);
    }

    @media screen and (min-width: 1280px) {
        background-position: calc(50% + 60px) calc(50% + 70px);
    }
}
