/*
    import font Nexa
    Author: Fontfabrica
    source: https://dafont.com/nexa.font/

*/

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    display: swap;
}