/*
    styles for scrollbar
*/

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
} */

*::-webkit-scrollbar-thumb {
    background-color: #5a69aa;
    border-radius: 5px;
    /* border: 1px solid #f1f1f1; */
}

/* 
    styles for custom scrollbar
*/

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5a69aa;
    border-radius: 5px;
}
