.hero_login {
    background: url(../../../../public/images/work_calculating.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_login_shadow {
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.8;
}