.hero_login {
    position: relative;
    background: url(../../../../public/images/login_image_1.webp) no-repeat center;
    background-size: cover;
}

.hero_login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.4);
}